<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>SATV</title>
</head>
<body class="bg-custom text-white">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="about.html">About</a>
        <a href="donate.html">Donate</a>
        <a href="DCMA.html">DCMA Policy</a>
        <a href="contact.html">Contact</a>
      <br>
      <center><p>Made with <span style="color: #e74c3c">&hearts;</span> in India</p></center>
      </div>
          <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      <ul class="navbar-nav mx-auto"> 
                  <li class="nav-item"> 
                      <a class="nav-link" href="#"> 
                              <img src="/sa.png" width="100" height="55" alt="">
                      </a> 
                  </li> 
              </ul> 
            </nav>
      
      <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>
    <div class="container contact-form">
  
        <form action="https://formsubmit.co/satv.support@protonmail.com" method="post">
            <h3>Drop Us a Message</h3>
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="name" name="name" class="form-control" placeholder="Your Name *" value="" />
                        <input type="hidden" name="_next" value="https://satv.herokuapp.com/thanks.html">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Your Email *" value="" />
                    </div>
                
                    <div class="form-group">
                        <textarea name="message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                    </div>
                    <div class="form-group">
                        <input  type="submit" name="btnSubmit" class="btn btn-warning" value="Send Message" />
                    </div>
                </div>
             
            </div>
        </form>
</div>
</body>
</html>